section.page-footer
	.container
		.page-footer__up
			.page-footer__grid
				.page-footer__wrap
					nav.footer-nav
						.footer-nav__up
							a(href="#")
								h4.footer-nav__title ЧАСТНЫМ КЛИЕНТАМ
							svg
								use(xlink:href="img/sprite.svg#arrow-down")
						ul.footer-list
							li.footer-list__item
								a.footer-list__link(href="#") Акции
							li.footer-list__item
								a.footer-list__link(href="#") Кредитование
							li.footer-list__item
								a.footer-list__link(href="#") Вклады
							li.footer-list__item
								a.footer-list__link(href="#") Пластиковые карты
							li.footer-list__item
								a.footer-list__link(href="#") Коммунальные и другие платежи
							li.footer-list__item
								a.footer-list__link(href="#") Продажа монет и драгметаллов
							li.footer-list__item
								a.footer-list__link(href="#") Аренда индивидуальных ячеек
							li.footer-list__item
								a.footer-list__link(href="#") Переводы денежных средств
							li.footer-list__item
								a.footer-list__link(href="#") Тарифы
							li.footer-list__item
								a.footer-list__link(href="#") Дистанционное банковское обслуживание
							li.footer-list__item
								a.footer-list__link(href="#") Критерии отнесения клиентов к категории клиента - иностранного налогоплательщика
							li.footer-list__item
								a.footer-list__link(href="#") Сбор данных для ЕБС
							li.footer-list__item
								a.footer-list__link(href="#") Отделения и банкоматы

				.page-footer__wrap
					nav.footer-nav
						.footer-nav__up
							a(href="#")
								h4.footer-nav__title корпоративным КЛИЕНТАМ
							svg
								use(xlink:href="img/sprite.svg#arrow-down")
						ul.footer-list
							li.footer-list__item
								a.footer-list__link(href="#") Акции
							li.footer-list__item
								a.footer-list__link(href="#") Кредитование
							li.footer-list__item
								a.footer-list__link(href="#") Депозиты
							li.footer-list__item
								nav.footer-nav
									.footer-nav__up
										h4.footer-nav__caption Пластиковые карты
										svg
											use(xlink:href="img/sprite.svg#arrow-down")
									ul.footer-list
										li.footer-list__sub-item
											a.footer-list__sub-link(href="#") Корпоративная карта
										li.footer-list__sub-item
											a.footer-list__sub-link(href="#") Эквайринг
										li.footer-list__sub-item
											a.footer-list__sub-link(href="#") Зарплатные проекты
							li.footer-list__item
								a.footer-list__link(href="#") Операции в иностранной валюте
							li.footer-list__item
								a.footer-list__link(href="#") Расчетно-кассовое обслуживание
							li.footer-list__item
								a.footer-list__link(href="#") Тарифы
							li.footer-list__item
								a.footer-list__link(href="#") Дистанционное банковское обслуживание

				.page-footer__wrap
					nav.footer-nav
						.footer-nav__up
							a(href="#")
								h4.footer-nav__title О БАНКЕ
							svg
								use(xlink:href="img/sprite.svg#arrow-down")
						ul.footer-list
							li.footer-list__item
								a.footer-list__link(href="#") История банка
							li.footer-list__item
								a.footer-list__link(href="#") Реквизиты
							li.footer-list__item
								a.footer-list__link(href="#") Раскрытие информации
							li.footer-list__item
								a.footer-list__link(href="#") Банк сегодня
							li.footer-list__item
								a.footer-list__link(href="#") Юридический адрес
							li.footer-list__item
								a.footer-list__link(href="#") Финансовые показатели
							li.footer-list__item
								a.footer-list__link(href="#") Перечень инсайдерской информации
							li.footer-list__item
								a.footer-list__link(href="#") Раскрытие информации профессиональным участником рынка ценных бумаг
							li.footer-list__item
								a.footer-list__link(href="#") Новости
							li.footer-list__item
								a.footer-list__link(href="#") Вакансии
							li.footer-list__item
								a.footer-list__link(href="#") Обработка персональных данных
							li.footer-list__item
								a.footer-list__link(href="#") Реализация имущества
							li.footer-list__item
								a.footer-list__link(href="#") Руководство				

				.page-footer__wrap
					nav.footer-nav
						ul.footer-list
							li.footer-list__item
								a.footer-nav__bold(href="#") Информация о лицах, под контролем либо значительным влиянием которых находится банк
							li.footer-list__item
								a.footer-nav__bold(href="#") Новости
							li.footer-list__item
								a.footer-nav__bold(href="#") Тарифы
							li.footer-list__item
								a.footer-nav__bold(href="#") Информация о максимальных процентных ставках
							li.footer-list__item
								a.footer-nav__bold(href="#") Реализация имущества

		.page-footer__down
			.page-footer__left
				a.logo(href="#")
					svg.logo__img
						use(xlink:href="img/logo.svg#logo")
				span.page-footer__text © 2002-2020 «ЮГ-Инвестбанк» (ПАО). Универсальная лицензия ЦБ РФ 2772 <a href="#">Старая версия сайта</a>
			.page-footer__right
				.created
					span.created__text Создание сайта
					a.created__link(href="https://very-good.ru/") VERY GOOD

include modal.pug					