@media (max-width: 767px) {
  .header-page {
    .btn-block {
      display: none;
    }
  }

  .search-line {
    &__field {
      font-size: 16px;
      line-height: 19px;
      padding-right: 40px;

      &::placeholder {
        font-size: 16px;
        line-height: 19px;
      }
    }

    &__close {
      width: 32px;
      height: 32px;
      border: 1px solid #D3D3D3;
      border-radius: 4px;
      top: 12px;

      &::after,
      &::before {
        top: 6px;
        bottom: 6px;
        left: calc(50% - 1px);
      }
    }
  }

  .link-map {
    display: none;
  }

  .logo {
    &__img {
      max-width: 172px;
    }
  }

  .mobile-menu {
    height: calc(100vh - 56px);

    &__link {
      padding: 18px 0 12px;
    }

    &__feedback {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 16px 0;

      .link-map {
        display: flex;
        margin-bottom: 20px;
        margin-right: 0;
        justify-content: center;

        &::before {
          display: none;
        }
      }

      .btn-block {
        display: block;
        width: 100%;
        text-align: center;
      }
    }
  }

  .nav-mobile {
    padding: 13px 16px;

    &__row {
      padding: 12.5px 0;
    }

    &__item {
      padding: 0;
      &--change {
        width: 100%;
        .nav-mobile-drop {
          padding-top: 0;
          padding-bottom: 0;
          border-bottom: 1px solid rgba(125,125,125,.3);
        }
        .nav-mobile-drop__list,
        .nav-mobile-drop__item {
          padding: 0;
        }
        .nav-mobile-drop__list {
          padding-bottom: 12px;
        }

        .nav-mobile__row {
          padding-top: 0;
          .btn-block {            
            &:hover {
              &::before {
                background-color: #8c1e1e;
                transform: none;
              }
            }
          }
        }

        .nav-mobile__row--open {
          .btn-block {
            &::before {
              background-color: #f03d40;
            }            
            &:hover {             
              &::before {
                background-color: #f03d40;
                transform: none;
              }
            }
          }
        }
      }
    }

    &__list {
      .nav-mobile-drop__list {
        .nav-mobile-drop__item {
          padding: 0 9px;
        }
      }
    }
  }

  .nav-mobile-drop {
    &__link {
      padding: 13px 16px 13px 0;
      margin: 0 -25px;
      padding: 13px 25px;

      &::before {
        display: none;
      }
    }
  }

  .bread-crumbs {
    // // display: flex;
    // // flex-direction: row-reverse;
    // // overflow: auto;
    padding: 27px 0;

    .container {
      overflow: visible;
      margin-bottom: 0;
      padding: 0 16px;
      margin-right: 16px;
    }

    &__list {
      overflow: auto;
    }
  }

  .first-screen-content .bread-crumbs .container {
    padding-left: 0;
    padding-right: 0;
  }

  .bread-crumbs__list {
    padding: 0 16px;
  }

  .first-screen {
    margin-bottom: 30px;
  }

  .calculator-sect {
    margin-bottom: 40px;

    &--inner-offset-one {
      margin-bottom: 0;
      padding-bottom: 10px;
    }

    &__two-columns {
      // grid-template-columns: 1fr;
      display: block;
    }

    &__left {
      border: none;
      padding-right: 0;
      margin-bottom: 20px;

      .sm-text {
        display: none;
      }
    }

    &__right {
      padding-left: 0;
      display: block;
      padding-bottom: 0;

      .sm-text {
        display: block;
      }

      .link-more {
        margin: 0 0 0 auto;
        display: flex;
        justify-content: flex-end;
      }
    }

    &__wrap {
      // display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__block {
      display: flex;

      .value-credit {
        margin-right: 32px;

        &:last-child {
          margin: 0;
        }
      }
    }

    &__flex {
      margin-bottom: 24px;
    }
  }

  .post-block {
    &__img {
      max-height: 200px;
      @media(max-width: 575px) {
        max-height: inherit;
      }
    }

    &__flex {
      display: block;

      .value-credit {
        &__block {
          display: flex;
          align-items: center;
        }

        &__name {
          margin-right: 10px;
        }
      }
    }
  }

  .best-offers {
    padding-top: 40px;
    margin-bottom: 30px;

    &__navigation {
      display: none;
    }
  }

  .sect-news {
    margin-bottom: 40px;

    &--change {
      margin-bottom: 0;
    }
  }

  .down-sect {
    padding: 40px 0;
  }

  .page-footer {
    padding: 30px 0;

    &__left {
      display: block;
    }

    &__text {
      max-width: 300px;
      display: block;
    }
  }

  .accordion {
    &__title {
      max-width: 80%;
    }
  }

  .filter-row {
    padding-bottom: 23px;

    &__wrap {
      display: block;
      margin: 0;
      width: 100%;
      margin-bottom: 24px;

      .ui-selectmenu-button {
        max-width: inherit;
        min-width: inherit;
        width: 100%;
      }
    }

    &__description {
      margin-bottom: 12px;
      display: block;
    }
  }

  .check-row {
    padding-top: 23px;
  }

  .pagination {
    &__arrow {
      span {
        display: none;
      }
    }
  }

  .post-offers {
    flex-direction: column;

    &__wrap-img {
      min-width: inherit;
      width: 100%;
    }

    &__wrap-text {
      flex-grow: 1;
      padding-left: 0;
    }
  }

  .inner-post {
    &__wrapper {
      max-width: inherit;
      margin: 0;
    }
  }

  .modal-form {
    &__grid-trhee-columns {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 32px;
    }

    &__grid-two-columns {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 32px;
    }
  }

  .my-modal--size2 .modal-form__wrapper-flex .modal-form__wrap {
    width: 100%;
    margin-bottom: 23px;
  }

  .my-modal--size3 .modal-form__wrapper-flex .modal-form__wrap {
    width: 100%;
    margin-bottom: 23px;
  }

  .my-modal--size4 .modal-form__wrapper-flex .modal-form__wrap {
    width: 100%;
    margin-bottom: 23px;
  }

  .my-modal--size5 .modal-form__wrapper-flex .modal-form__wrap {
    width: 100%;
    margin-bottom: 23px;
  }

  .my-modal--size3 .modal-form__wrapper-flex--remnant2 .modal-form__wrap:nth-last-child(-n+2) {
    width: 100%;
  }

  .wrapper-first-screen .container {
    padding-top: 9px;
  }

  .first-screen-content__row-title {
    margin-bottom: 8px;
  }
}

@media (max-width: 575px) {
  .header-page {
    .btn-block {
      display: none;
    }

    &__left {
      display: block;
    }
  }

  .bg-image {
    &__img {
      height: 136px;
    }
  }

  .mobile-menu {
    &__up {
      min-height: 63px;
    }
    &__link {
      font-weight: bold;
      font-size: 11px;
      line-height: 16px;
      margin-right: 27px;
    }

    &__feedback {
      .btn-block {
        display: block;
      }
    }
  }

  .nav-mobile {
    &__link {
      font-size: 12px;
      line-height: normal;
    }
  }

  .nav-mobile-drop {
    &__link {
      font-size: 12px;
      line-height: normal;

      &::before {
        top: 30px;
      }
    }
  }

  .first-screen {
    margin-bottom: 35px;

    &--mob-offset {
      margin-bottom: 70px;
    }

    &__slider {
      overflow: visible;
    }

    &__arrow {
      top: 60px;
    }

    &__navigation {
      bottom: auto;
      top: 100%;
    }

    &__pagination {
      margin: 0;
      width: 100%;
      justify-content: center;
      padding-top: 24px;
    }
  }

  .row-title {
    margin-bottom: 15px;

    .category-link {
      margin-bottom: 8px;
    }
  }

  .title {
    font-size: 24px;
    line-height: 32px;

    &::after {
      display: none;
    }
  }

  .first-screen-content {
    &__wrap {
      // padding: 0 0 24px;
    }

    &__title {
      font-size: 24px;
      line-height: 32px;
    }

    .link-more {
      // display: none;
    }

    &__wrap {
      .category-link {
        margin-bottom: 7px;
      }

      .btn-block {
        width: 100%;
      }
    }

    &__row-title {
      margin-bottom: 14px;
    }

    &__title {
      margin-bottom: 2px;
    }

    .border-top {
      padding-top: 8px;
    }
  }

  .flex-wrap {
    display: block;

    .value-credit {
      margin: 0 0 8px;

      &__block {
        display: flex;
        align-items: baseline;
      }

      &__name {
        font-size: 14px;
        line-height: 16px;
        margin-right: 17px;
      }

      &__value {
        font-weight: 300;
        font-size: 20px;
        line-height: 32px;
      }
    }
  }

  .btn-block {
    max-width: inherit;
    // width: 100%;

    &--two {
      padding: 9px 24px;
    }
  }

  .row-title {
    display: block;
  }

  .calculator-sect {
    &__wrap {
      display: block;
    }

    &__block {
      display: block;
      margin-bottom: 29px;

      .value-credit {
        margin-right: 0;
      }
    }

    .link-more {
      justify-content: flex-start;
    }

    &__flex {
      .btn-block {
        margin-bottom: 22px;
        width: 100%;
      }
    }
  }

  .calculator-sect-flex {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 17px;
    margin: 0 0 16px;

    .calculator-range {
      margin-bottom: 0;
    }

    &__wrap-lg {
      padding: 0;
    }
  }

  .calculator-range {
    margin-bottom: 9px;

    &__field {
      font-size: 16px;
      line-height: 19px;
      padding: 12px 15px;

      &::placeholder {
        font-size: 16px;
        line-height: 19px;
      }
    }

    &__after,
    &__before {
      padding-top: 16px;
    }

    .ui-slider-horizontal {
      margin-top: -23px;
    }
  }

  .post-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 24px;
  }

  .gray-platform-up {
    padding-top: 0;

    &::before {
      height: 167px;
    }
  }

  .best-offers {
    padding-bottom: 48px;
    margin-bottom: 40px;

    &::before {
      // display: none;
    }

    &__slide {
      max-width: 272px;
    }

    .row-title {
      margin-bottom: 25px;
    }

    &--no-offset {
      padding-bottom: 0;
    }

    &--offset-bottom {
      padding-bottom: 0;
    }
  }

  .sect-reclama {
    margin-bottom: 38px;

    &__block {
      flex-direction: column-reverse;
    }

    &__wrap-img {
      max-width: inherit;
    }

    &__wrap-text {
      width: auto;
      padding-top: 22px;
      padding-left: 16px;
      padding-right: 16px;
    }

    &__title {
      padding-bottom: 8px;
    }

    &__text {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 9px;
    }

    .btn-block {
      width: auto;
      max-width: inherit;
    }
  }

  .btn-block {
    &--two {
      padding: 9px 16px;
    }
  }

  .post-block {
    &__title {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 2px;
    }

    &__flex {
      display: block;
      margin: 0 -12.5px 9px;
    }

    .value-credit {
      &__block {
        display: flex;
        align-items: baseline;
      }

      &__name {
        font-size: 14px;
        line-height: 20px;
        margin-right: 15px;
      }

      &__value {
        font-size: 20px;
        line-height: 32px;
      }
    }

    .category-link {
      bottom: -12px;
    }

    &__wrap-text {
      padding: 17px 15px 17px;
    }

    &__up-row {
      padding-bottom: 18px;
    }
  }

  .sect-news {
    .category-link {
      margin-bottom: 10px;
    }

    &__grid {
      row-gap: 34px;

    }
  }

  .news-list {
    margin-bottom: 30px;
  }

  .post-news {
    display: block;

    &__title {
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 24px;
    }

    &__left {
      border-bottom: 1px solid #E2E2E2;
      min-width: inherit;
      max-width: inherit;
      padding-bottom: 4px;
      margin-bottom: 14px;
      display: flex;
      align-items: center;
    }

    &__number {
      margin-right: 10px;
      display: block;
    }

    &__right {
      padding-left: 0;
      border: none;
    }

    &--change {
      margin-bottom: 35px;

      .post-news__left {
        border-right: none;
        margin-bottom: 0;
      }

      .post-news__right {
        padding-left: 0;
      }
    }
  }

  .down-sect {
    padding: 40px 0 18px;

    &__grid {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 22px;
    }
  }

  .currency-rates {
    &__caption {
      margin-bottom: 4px;
    }

    &__left {
      margin-bottom: 9px;
    }
  }

  .currency-rates-table {
    &__name {
      margin-right: 12px;
    }
  }

  .page-footer {
    padding: 23px 0 30px;

    &__grid {
      display: block;
      padding-bottom: 0;
    }

    &__wrap {
      &:last-child {
        padding-top: 15px;

        .footer-nav {
          border: none;
        }

        .footer-list {
          border: none;
          padding-bottom: 28px;

          &__item {
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    &__down {
      display: block;
      padding-top: 31px;
    }

    &__left {
      margin-bottom: 20px;

      .logo {
        margin-bottom: 12px;
      }
    }
  }

  .footer-nav {
    border-bottom: 1px solid rgba(62, 62, 62, 0.2);

    &__up {
      margin: 0;
      padding: 19px 0;
      justify-content: space-between;

      svg {
        transition: all 0.3s ease-in-out;
      }

      &--open {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  .footer-list {
    display: none;
    padding-bottom: 17px;
    padding-top: 2px;

    &__item {
      .footer-nav {
        border: none;

        &__up {
          justify-content: flex-start;
          padding-top: 0;
        }

        .footer-list {
          padding-bottom: 0;
        }
      }
    }
  }

  .inner-post {
    &__wrap-slider {
      margin-bottom: 10px;
    }

    &__price {
      font-weight: 900;
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 18px;
    }

    &__address {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 10px;
    }

    &__table {
      td {
        padding: 8px 0;

        &:last-child {
          font-weight: 300;
          font-size: 16px;
          text-align: right;
        }
      }
    }

    &__info-area {
      p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
      }

      span {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  .post-inner-slider {
    &__down {
      margin: 0 -10px;
      padding-top: 9px;

      .swiper-slide-thumb-active {
        border: none;

        &::before {
          position: absolute;
          content: "";
          top: 0;
          left: 10px;
          right: 10px;
          height: 2px;
          background-color: #8c1e1e;
        }
      }
    }

    &__slide-sm {
      max-width: 50%;
      margin-bottom: 6px;
      padding: 10px 10px 0;
      border: none;

      &--value {
        order: 4;
      }
    }

    &__column {
      width: auto !important;
    }
  }

  .bread-crumbs {
    padding: 19px 16px 11px;

    .container {
      padding: 0;
      overflow: inherit;
    }

    &__list {
      padding: 0 16px;
      margin: 0 -16px;
    }

    &__item {
      &:last-child {
        padding-right: 32px;
      }
    }
  }

  .inner-post {
    margin-bottom: 46px;
  }

  .accordion-wrapper {
    margin-bottom: 48px;

    &--offset-inner {
      padding-top: 48px;
    }

    &--sm-offset {
      margin-bottom: 20px;
    }
  }

  .accordion {
    &__up {
      padding: 16px 11px 16px 16px;
    }

    &__title {
      font-size: 16px;
      line-height: 24px;
    }

    &__content {
      padding: 10px 16px 18px;
    }
  }

  .bargaining {
    padding-bottom: 18px;
    margin-bottom: 18px;

    &:last-child {
      padding-bottom: 0;
    }

    &__data {
      font-size: 14px;
      line-height: 20px;
    }

    &__row {
      display: block;
    }

    &__caption {
      font-size: 14px;
      line-height: 20px;
      display: block;
    }

    &__price {
      font-weight: 300;
      font-size: 20px;
      line-height: 32px;
      display: block;
    }
  }

  .tabs-up {
    padding-bottom: 15px;

    &__list {
      margin: 0 -8px;
    }

    &__item {
      padding: 0 8px;

      &::before {
        top: 0;
      }

      span {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }

  .check-row {
    display: block;
    width: 100%;
  }

  .check-wrap {
    margin-bottom: 23px;

    &:last-child {
      margin: 0;
    }
  }

  .table-content__row .table-content__row .table-content__flex::before {
    display: none;
  }

  .table-content__row .table-content__row .table-content__caption {
    padding-left: 0;
    width: 100%;
  }

  .accordion {
    &__table {
      table {

        tr,
        td,
        th {
          display: block;
        }

        td {
          border-bottom: 0;
          padding: 0;
          width: auto !important;

          &:nth-child(2n) {
            border-bottom: 1px solid #e2e2e2;
            padding-bottom: 15px;
            margin-bottom: 15px;
          }
        }
      }
    }
  }

  .pagination {
    margin-bottom: 35px;

    &__item {
      display: none;
      padding: 0 16px;

      &:first-child,
      &:nth-child(2),
      &:nth-last-child(2),
      &:last-child {
        display: block;
      }
    }

    &__link {
      width: auto;
      height: auto;

      &:hover {
        box-shadow: inherit;
        color: #3e3e3e;
      }
    }
  }

  .city-change {
    display: block;

    &__text {
      margin-bottom: 12px;
      display: block;
    }
  }

  .first-screen-content__wrap {

    div,
    section {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .calculator-sect__block {
    .value-credit {
      &__flex {
        display: block;
      }
    }
  }

  .row-info-check {
    display: block;

    &__item {
      margin-bottom: 11px;

      &:last-child {
        margin: 0;
      }
    }
  }

  .table-content__caption {
    padding-right: 0;
    font-size: 16px;
    line-height: normal;
  }

  .table-content__value {
    font-size: 18px;
    line-height: normal;
  }

  .accordion .table-content__row .table-content__row .table-content__caption {
    padding-left: 0;
    width: 100%;
  }

  .accordion .table-content__row .table-content__row .table-content__row .table-content__caption {
    padding-left: 0;
    width: 100%;
  }

  .benefits--change-two {
    padding: 45px 0;
    margin-bottom: 48px;
  }

  .benefits--change {
    padding: 40px 0;
  }

  .benefits__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .benefits-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .benefits-post {
    &__caption {
      font-size: 18px;
      line-height: 24px;
    }
  }

  .area-text-page {
    margin-bottom: 48px;

    h2,
    h3,
    h4,
    h5 {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 25px;
    }
  }

  .post-offers {
    &__row {
      display: block;
      margin-bottom: 12px;
    }

    &__date {
      border-right: none;
      display: flex;
      align-items: center;
      padding-bottom: 9px;
      border-bottom: 1px solid #E2E2E2;
      margin-bottom: 21px;
    }

    &__number {
      margin-right: 15px;
      padding-right: 0;
      display: block;
    }

    &__title {
      font-size: 18px;
      line-height: 24px;
    }
  }

  .accordion {
    &__icon {
      margin-bottom: 6px;
    }

    &__wrap {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .tabs {
    &__item {
      padding: 9px 12px;
    }
  }

  .sect-reclama__wrap-hidden {
    max-width: 100%;
  }

  .my-modal {
    padding: 32px 16px;

    &__down {
      display: block;

      .check-form {
        margin-bottom: 27px;
      }
    }

    &__close {
      top: -16px;
      background-color: #fff;
    }
  }

  .modal-form {
    &__grid-trhee-columns {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 15px;
    }

    &__grid-two-columns {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 15px;
    }
  }

  .offset-down-md {
    margin-bottom: 16px;
  }

  .page-content {
    padding-top: 0;
  }

  .date {
    display: flex;
    align-items: center;
    padding: 0 0 6px;
    margin: 0;
    border-right: none;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 15px;

    &__month {
      margin-left: 8px;
    }
  }

  .page-content .row-title {
    margin-bottom: 24px;
  }

  .area-text-page {
    p {
      font-size: 14px;
      line-height: 20px;
    }

    img {
      margin-bottom: 28px;
    }
  }

  .page-content .center-wrapper {
    margin-bottom: 27px;
  }

  .row-link {
    margin-bottom: 42px;
  }

  .first-screen-content__subtitle {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 400px) {
  .mobile-menu {
    &__link {
      br {
        display: block;
      }
    }
  }
}