doctype html
html(lang="ru-Ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title ИнвестБанк

		include includes/link.pug

	body
		header
			include includes/header.pug
			section.first-screen
				.first-screen-content
					
					.bg-image
						picture
							source(srcset="img/first-screen-content-bg9.webp" type="image/webp")
							source(srcset="img/first-screen-content-bg9.jpg" type="image/jpeg")
							img.bg-image__img(src="img/first-screen-content-bg9.jpg")
					.wrapper-first-screen
						.bread-crumbs
							.container
								ul.bread-crumbs__list
									li.bread-crumbs__item
										a.bread-crumbs__link(href="#") Главная
									li.bread-crumbs__item
										a.bread-crumbs__link(href="#") Корпоративным клиентам
									li.bread-crumbs__item
										span.bread-crumbs__link Тарифы		
						.container
							.first-screen-content__wrap.first-screen-content__wrap--inner
								.first-screen-content__row-title
									h2.first-screen-content__title Тарифы
									p.first-screen-content__subtitle Расчетно–кассовое обслуживание клиентов банка—юридических лиц
								.border-top.offset-down-md
									ul.row-info-check
										li.row-info-check__item
											svg
												use(xlink:href="img/check.svg#check")
											span.row-info-check__text Вступают в действие с 01.01.2020 г.

		main
			section.accordion-wrapper
				.container
					.accordion
						.accordion__up
							h3.accordion__title Общее положение
							.accordion__arrow
								svg
									use(xlink:href="img/sprite.svg#arrow")
						.accordion__content
							section.table-content
								.table-content__wrapper
									.table-content__row
										.table-content__flex
											span.table-content__caption Ведение счета
											span.table-content__value бесплатно
									.table-content__row
										.table-content__flex
											span.table-content__caption Обработка ста платежных поручений в месяц по перечислению денежных средств на счета в другой банк по системе ДБО
											span.table-content__value бесплатно
									.table-content__row
										.table-content__flex
											span.table-content__caption Перечисление денежных средств на счета физических лиц, открытых в сторонних банках, в сумме до 300 000,00 рублей (нарастающим итогом с начала действия тарифа)
											span.table-content__value бесплатно
									.table-content__row
										.table-content__flex
											span.table-content__caption <b>Пересчет денежной наличности, сдаваемой в кассу банка, в том числе через стороннюю инкассацию в месяц:</b>
										.table-content__row
											.table-content__flex
												span.table-content__caption до 10 000 000 рублей — 0,05%;
												span.table-content__value 0,05%
										.table-content__row
											.table-content__flex
												span.table-content__caption свыше 10 000 000 рублей.

					.accordion
						.accordion__up
							h3.accordion__title Открытие расчетного счета
							.accordion__arrow
								svg
									use(xlink:href="img/sprite.svg#arrow")
						.accordion__content
							section.table-content
								.table-content__wrapper
									.table-content__row
										.table-content__flex
											span.table-content__caption <b>Открытие счета:</b>
										.table-content__row
											.table-content__flex
												span.table-content__caption открытие временного счета
												span.table-content__value 300 ₽
										.table-content__row
											.table-content__flex
												span.table-content__caption <b>открытие расчетного счета:</b>
											.table-content__row
												.table-content__flex
													span.table-content__caption открытие счета для юридических лиц и предпринимателей
													span.table-content__value 800 ₽
											.table-content__row
												.table-content__flex
													span.table-content__caption срочное открытие расчетного счета для юридических лиц и предпринимателей
													span.table-content__value 1 000 ₽
											.table-content__row
												.table-content__flex
													span.table-content__caption открытие второго и последующих счетов
													span.table-content__value 400 ₽
											.table-content__row
												.table-content__flex
													span.table-content__caption открытие счета, по которому введена процедура банкротства

									.table-content__row
										.table-content__flex
											span.table-content__caption-sm Срочное открытие расчетного счета — в течение одного часа с момента подачи полного и правильно оформленного пакета документов. Тариф за открытие счета включает в себя также услуги по закрытию счета в случае расторжения договора банковского счета.
									.table-content__row
										.table-content__flex
											span.table-content__caption Закрытие счета
											span.table-content__value Бесплатно

					.accordion
						.accordion__up
							h3.accordion__title Ведение расчетного счета
							.accordion__arrow
								svg
									use(xlink:href="img/sprite.svg#arrow")
						.accordion__content
							.accordion__area
								p <b>Процентная ставка по вкладу устанавливается в следующем размере:</b>
								ul
									li за 90 дней включительно нахождения денежных средств во вкладе — <b>6,3% годовых</b>;
									li от 91 дня по 180 день включительно — <b>6,0%</b>;
									li от 181 дня по 550 день — <b>5,0% годовых</b>.
								p <b>При расторжении договора до истечения срока вклада проценты начисляются и уплачиваются в следующем порядке:</b>
								ul
									li до 180 дней включительно — по ставке вклада «до востребования»;
									li от 181 по 550 день — 5,0% годовых.

					.accordion
						.accordion__up
							h3.accordion__title Начисление процентов за остаток на расчетном счете*
							.accordion__arrow
								svg
									use(xlink:href="img/sprite.svg#arrow")
						.accordion__content
							.accordion__area
								p <b>Процентная ставка по вкладу устанавливается в следующем размере:</b>
								ul
									li за 90 дней включительно нахождения денежных средств во вкладе — <b>6,3% годовых</b>;
									li от 91 дня по 180 день включительно — <b>6,0%</b>;
									li от 181 дня по 550 день — <b>5,0% годовых</b>.
								p <b>При расторжении договора до истечения срока вклада проценты начисляются и уплачиваются в следующем порядке:</b>
								ul
									li до 180 дней включительно — по ставке вклада «до востребования»;
									li от 181 по 550 день — 5,0% годовых.

					.accordion
						.accordion__up
							h3.accordion__title Расчетные операции в рублях РФ
							.accordion__arrow
								svg
									use(xlink:href="img/sprite.svg#arrow")
						.accordion__content

					.accordion
						.accordion__up
							h3.accordion__title Прием, пересчет и размен наличных денежных средств
							.accordion__arrow
								svg
									use(xlink:href="img/sprite.svg#arrow")
						.accordion__content

					.accordion
						.accordion__up
							h3.accordion__title Выдача наличных денежных средств юридическим лицам и индивидуальным предпринимателям, физическим лицам занимающихся в установленном РФ порядке частной практикой
							.accordion__arrow
								svg
									use(xlink:href="img/sprite.svg#arrow")
						.accordion__content

					.accordion
						.accordion__up
							h3.accordion__title Ведение счетов в иностранной валюте
							.accordion__arrow
								svg
									use(xlink:href="img/sprite.svg#arrow")
						.accordion__content

					.accordion
						.accordion__up
							h3.accordion__title Операции по покупке и продаже безналичной валюты на внутреннем валютном рынке
							.accordion__arrow
								svg
									use(xlink:href="img/sprite.svg#arrow")
						.accordion__content

					.accordion
						.accordion__up
							h3.accordion__title Валютный контроль
							.accordion__arrow
								svg
									use(xlink:href="img/sprite.svg#arrow")
						.accordion__content

					.accordion
						.accordion__up
							h3.accordion__title Прочие комиссии по операциям с иностранной валютой
							.accordion__arrow
								svg
									use(xlink:href="img/sprite.svg#arrow")
						.accordion__content

					.accordion
						.accordion__up
							h3.accordion__title Система дистанционного банковского обслуживания — ДБО (Банк-Клиент)
							.accordion__arrow
								svg
									use(xlink:href="img/sprite.svg#arrow")
						.accordion__content

					.accordion
						.accordion__up
							h3.accordion__title Общее положение
							.accordion__arrow
								svg
									use(xlink:href="img/sprite.svg#arrow")
						.accordion__content

					.accordion
						.accordion__up
							h3.accordion__title Банковские карты
							.accordion__arrow
								svg
									use(xlink:href="img/sprite.svg#arrow")
						.accordion__content

					.accordion
						.accordion__up
							h3.accordion__title Кредитование
							.accordion__arrow
								svg
									use(xlink:href="img/sprite.svg#arrow")
						.accordion__content

					.accordion
						.accordion__up
							h3.accordion__title Выдача справок, подтверждений, дубликатов документов, выписок по счету
							.accordion__arrow
								svg
									use(xlink:href="img/sprite.svg#arrow")
						.accordion__content

					.accordion
						.accordion__up
							h3.accordion__title Удостоверение документов
							.accordion__arrow
								svg
									use(xlink:href="img/sprite.svg#arrow")
						.accordion__content

					.accordion
						.accordion__up
							h3.accordion__title Прочие комиссии
							.accordion__arrow
								svg
									use(xlink:href="img/sprite.svg#arrow")
						.accordion__content

			section.sect-reclama
				.container
					.sect-reclama__wrapper
						.sect-reclama__block
							.sect-reclama__bg(style="background-color: #CE3337")
							.sect-reclama__wrap-img
								picture
									source(srcset="img/reclama5.webp" type="image/webp")
									source(srcset="img/reclama5.png" type="image/png")
									img.sect-reclama__img(src="img/reclama5.png")
							.sect-reclama__wrap-text
								h3.sect-reclama__title.sect-reclama__title--white +7 (861) 259-66-56
								p.sect-reclama__text.sect-reclama__text--white Остались вопросы? Мы с радостью Вам поможем!
								button.btn-block.btn-block--two
									span.btn-block__text заказать звонок

			section.down-sect.gray
				.container
					.down-sect__grid
						.down-sect__wrap
							.currency-rates
								.currency-rates__left
									h3.currency-rates__caption Курсы валют
									span.currency-rates__subtitle Курс актуален на 11:50, 20.03.2020
								.currency-rates__right
									.currency-rates-table
										//- .currency-rates-table__row-caption


										.currency-rates-table__row
											span.currency-rates-table__name USD
											.currency-rates-table__wrap
												span.currency-rates-table__caption Покупка
												.currency-rates-table__val
													span 74.90
													svg.currency-rates-table__arrow.currency-rates-table__arrow--down
														use(xlink:href="img/sprite.svg#arrow-down")
											.currency-rates-table__wrap
												span.currency-rates-table__caption Продажа
												.currency-rates-table__val
													span 82.95
													svg.currency-rates-table__arrow.currency-rates-table__arrow--down
														use(xlink:href="img/sprite.svg#arrow-down")
										.currency-rates-table__row
											span.currency-rates-table__name EUR
											.currency-rates-table__wrap
												.currency-rates-table__val
													span 80.65
													svg.currency-rates-table__arrow.currency-rates-table__arrow--up
														use(xlink:href="img/sprite.svg#arrow-down")
											.currency-rates-table__wrap
												.currency-rates-table__val
													span 88.75
													svg.currency-rates-table__arrow.currency-rates-table__arrow--up
														use(xlink:href="img/sprite.svg#arrow-down")

						.down-sect__wrap
							.contact-block
								.contact-block__wrapper
									h3.contact-block__title Контакты
									.contact-block__wrap
										a.contact-block__tel(href="tel:+78612596656") +7 (861) 259-66-56
										button.btn-block.btn-block--three
											span.btn-block__text заказать звонок
										span.contact-block__caption Адрес центрального отделения
										p.contact-block__text 350000, г. Краснодар, ул. Красная, 113


		footer
			include includes/footer.pug




		include includes/script.pug