doctype html
html(lang="ru-Ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title ИнвестБанк

		include includes/link.pug

	body
		header
			include includes/header.pug

		main
			section.bread-crumbs
				.container
					ul.bread-crumbs__list
						li.bread-crumbs__item
							a.bread-crumbs__link(href="#") Главная
						li.bread-crumbs__item
							span.bread-crumbs__link Поиск

			section.search-result
				.container
					h2.title Результаты поиска по запросу “инвестиции”&nbsp;&nbsp;<span class="title__line">&#8212;</span>
					span.search-result__subtitle Найдено 41 совпадение
					.search-result__wrapper
						ol.search-result__list
							li.search-result__item
								span.search-result__number 1.
								.search-result__wrap-text
									h4.search-result__caption Инвестиции с помощью брокерского счета
									span.search-result__text <b>Инвестиции</b> с помощью брокерского счёта. Узнать больше. Торговые платформы.
									span.search-result__text <b>Инвестиции</b> с помощью брокерского счёта. Вы узнаете как работать с брокерским счётом, с...
									a.search-result__link(href="#") invb.ru/person/investments/broker_service/…
							li.search-result__item
								span.search-result__number 2.
								.search-result__wrap-text
									h4.search-result__caption Частным клиентам - Инвестиционное страхование с помощью брокерского счета
									span.search-result__text <b>Инвестиции</b> с помощью брокерского счёта. Узнать больше. Поддержка. Минимальная сумма взноса. 100 тыс. рублей. Валюта инвестиций. Рубли, доллары США.
									a.search-result__link(href="#") invb.ru/person/contributions/iszh_new
							li.search-result__item
								span.search-result__number 3.
								.search-result__wrap-text
									h4.search-result__caption Инвестиции с помощью брокерского счета
									span.search-result__text <b>Инвестиции</b> с помощью брокерского счёта. Узнать больше. Торговые платформы.
									span.search-result__text <b>Инвестиции</b> с помощью брокерского счёта. Вы узнаете как работать с брокерским счётом, с...
									a.search-result__link(href="#") invb.ru/person/investments/broker_service/…
							li.search-result__item
								span.search-result__number 4.
								.search-result__wrap-text
									h4.search-result__caption Инвестиции с помощью брокерского счета
									span.search-result__text <b>Инвестиции</b> с помощью брокерского счёта. Узнать больше. Торговые платформы.
									span.search-result__text <b>Инвестиции</b> с помощью брокерского счёта. Вы узнаете как работать с брокерским счётом, с...
									a.search-result__link(href="#") invb.ru/person/investments/broker_service/…
							li.search-result__item
								span.search-result__number 5.
								.search-result__wrap-text
									h4.search-result__caption Инвестиции с помощью брокерского счета
									span.search-result__text <b>Инвестиции</b> с помощью брокерского счёта. Узнать больше. Торговые платформы.
									span.search-result__text <b>Инвестиции</b> с помощью брокерского счёта. Вы узнаете как работать с брокерским счётом, с...
									a.search-result__link(href="#") invb.ru/person/investments/broker_service/…
							li.search-result__item
								span.search-result__number 6.
								.search-result__wrap-text
									h4.search-result__caption Инвестиции с помощью брокерского счета
									span.search-result__text <b>Инвестиции</b> с помощью брокерского счёта. Узнать больше. Торговые платформы.
									span.search-result__text <b>Инвестиции</b> с помощью брокерского счёта. Вы узнаете как работать с брокерским счётом, с...
									a.search-result__link(href="#") invb.ru/person/investments/broker_service/…
							li.search-result__item
								span.search-result__number 7.
								.search-result__wrap-text
									h4.search-result__caption Инвестиции с помощью брокерского счета
									span.search-result__text <b>Инвестиции</b> с помощью брокерского счёта. Узнать больше. Торговые платформы.
									span.search-result__text <b>Инвестиции</b> с помощью брокерского счёта. Вы узнаете как работать с брокерским счётом, с...
									a.search-result__link(href="#") invb.ru/person/investments/broker_service/…
							li.search-result__item
								span.search-result__number 8.
								.search-result__wrap-text
									h4.search-result__caption Инвестиции с помощью брокерского счета
									span.search-result__text <b>Инвестиции</b> с помощью брокерского счёта. Узнать больше. Торговые платформы.
									span.search-result__text <b>Инвестиции</b> с помощью брокерского счёта. Вы узнаете как работать с брокерским счётом, с...
									a.search-result__link(href="#") invb.ru/person/investments/broker_service/…
							li.search-result__item
								span.search-result__number 9.
								.search-result__wrap-text
									h4.search-result__caption Инвестиции с помощью брокерского счета
									span.search-result__text <b>Инвестиции</b> с помощью брокерского счёта. Узнать больше. Торговые платформы.
									span.search-result__text <b>Инвестиции</b> с помощью брокерского счёта. Вы узнаете как работать с брокерским счётом, с...
									a.search-result__link(href="#") invb.ru/person/investments/broker_service/…
							li.search-result__item
								span.search-result__number 10.
								.search-result__wrap-text
									h4.search-result__caption Инвестиции с помощью брокерского счета
									span.search-result__text <b>Инвестиции</b> с помощью брокерского счёта. Узнать больше. Торговые платформы.
									span.search-result__text <b>Инвестиции</b> с помощью брокерского счёта. Вы узнаете как работать с брокерским счётом, с...
									a.search-result__link(href="#") invb.ru/person/investments/broker_service/…								


			section.pagination
				.container
					.pagination__wrapper
						a.pagination__arrow.pagination__arrow--prev(href="#")
							.pagination__wrap
								.pagination__wrap-svg
									svg
										use(xlink:href="img/sprite.svg#arrow")
							span назад

						ul.pagination__list
							li.pagination__item
								a.pagination__link.pagination__link--active(href="#") 1
							li.pagination__item
								a.pagination__link(href="#") 2
							li.pagination__item
								a.pagination__link(href="#") 3
							li.pagination__item
								a.pagination__link(href="#") 4
							li.pagination__item
								a.pagination__link(href="#") 5
							li.pagination__item
								a.pagination__link(href="#") ...
							li.pagination__item
								a.pagination__link(href="#") 12

						a.pagination__arrow.pagination__arrow--next(href="#")
							span вперед
							.pagination__wrap
								.pagination__wrap-svg
									svg
										use(xlink:href="img/sprite.svg#arrow")


			section.down-sect.gray
				.container
					.down-sect__grid
						.down-sect__wrap
							.currency-rates
								.currency-rates__left
									h3.currency-rates__caption Курсы валют
									span.currency-rates__subtitle Курс актуален на 11:50, 20.03.2020
								.currency-rates__right
									.currency-rates-table
										//- .currency-rates-table__row-caption


										.currency-rates-table__row
											span.currency-rates-table__name USD
											.currency-rates-table__wrap
												span.currency-rates-table__caption Покупка
												.currency-rates-table__val
													span 74.90
													svg.currency-rates-table__arrow.currency-rates-table__arrow--down
														use(xlink:href="img/sprite.svg#arrow-down")
											.currency-rates-table__wrap
												span.currency-rates-table__caption Продажа
												.currency-rates-table__val
													span 82.95
													svg.currency-rates-table__arrow.currency-rates-table__arrow--down
														use(xlink:href="img/sprite.svg#arrow-down")
										.currency-rates-table__row
											span.currency-rates-table__name EUR
											.currency-rates-table__wrap
												.currency-rates-table__val
													span 80.65
													svg.currency-rates-table__arrow.currency-rates-table__arrow--up
														use(xlink:href="img/sprite.svg#arrow-down")
											.currency-rates-table__wrap
												.currency-rates-table__val
													span 88.75
													svg.currency-rates-table__arrow.currency-rates-table__arrow--up
														use(xlink:href="img/sprite.svg#arrow-down")

						.down-sect__wrap
							.contact-block
								.contact-block__wrapper
									h3.contact-block__title Контакты
									.contact-block__wrap
										a.contact-block__tel(href="tel:+78612596656") +7 (861) 259-66-56
										button.btn-block.btn-block--three
											span.btn-block__text заказать звонок
										span.contact-block__caption Адрес центрального отделения
										p.contact-block__text 350000, г. Краснодар, ул. Красная, 113


		footer
			include includes/footer.pug




		include includes/script.pug